body {
    background-color: rgba(210, 235, 255, 0.089);
    height: 100vh;
}
/* #app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.page{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}